@import '../../styles/variables.scss';
.topWrapper {
  position: fixed;
  width: 100%;
  z-index: 10000;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 60px;
    background: $theme-gradient;
    background-blend-mode: multiply;

    .about {
      font-size: 25px;
      color: white;
      margin-left: 10px;
    }

    .link {
      display: inline-block;
      font-size: 40px;
      color: #212121;
      opacity: 0.7;
      font-family: 'Catamaran';
      font-weight: 800;
    }
  }
}
